.agile-toast-wrap[data-v-067be30a] {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  padding: 0 20px;
  height: 36px;
  line-height: 36px;
  text-align: left;
  white-space: nowrap;
  font-size: 16px;
  letter-spacing: 0;
  font-weight: normal;
  color: #fff;
  background: #32cd32;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.15);
  box-sizing: border-box;
  transition: all 0.35s;
  z-index: 2001;
}
.agile-toast-wrap.center[data-v-067be30a] {
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.agile-toast-wrap.center.show[data-v-067be30a] {
  -webkit-animation: toast-center-appear-data-v-067be30a 0.35s ease-in-out 1 both;
          animation: toast-center-appear-data-v-067be30a 0.35s ease-in-out 1 both;
}
.agile-toast-wrap.center.hidden[data-v-067be30a] {
  -webkit-animation: toast-center-disappear-data-v-067be30a 0.35s ease-in-out 1 both;
          animation: toast-center-disappear-data-v-067be30a 0.35s ease-in-out 1 both;
}
.agile-toast-wrap.show[data-v-067be30a] {
  -webkit-animation: toast-appear-data-v-067be30a 0.35s ease-in-out 1 both;
          animation: toast-appear-data-v-067be30a 0.35s ease-in-out 1 both;
}
.agile-toast-wrap.hidden[data-v-067be30a] {
  -webkit-animation: toast-disappear-data-v-067be30a 0.35s ease-in-out 1 both;
          animation: toast-disappear-data-v-067be30a 0.35s ease-in-out 1 both;
}
.agile-toast-wrap.error[data-v-067be30a] {
  background-color: #e36857;
}
.agile-toast-wrap.warning[data-v-067be30a] {
  background-color: #ff8c00;
}
@-webkit-keyframes toast-appear-data-v-067be30a {
from {
    opacity: 0;
    transform: translate3d(0, 50%, 0);
}
}
@keyframes toast-appear-data-v-067be30a {
from {
    opacity: 0;
    transform: translate3d(0, 50%, 0);
}
}
@-webkit-keyframes toast-disappear-data-v-067be30a {
to {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
}
}
@keyframes toast-disappear-data-v-067be30a {
to {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
}
}
@-webkit-keyframes toast-center-appear-data-v-067be30a {
from {
    opacity: 0;
    transform: translate3d(-50%, 50%, 0);
}
}
@keyframes toast-center-appear-data-v-067be30a {
from {
    opacity: 0;
    transform: translate3d(-50%, 50%, 0);
}
}
@-webkit-keyframes toast-center-disappear-data-v-067be30a {
to {
    opacity: 0;
    transform: translate3d(-50%, -70%, 0);
}
}
@keyframes toast-center-disappear-data-v-067be30a {
to {
    opacity: 0;
    transform: translate3d(-50%, -70%, 0);
}
}

.anchor-info .card-box[data-v-3de419b3]{display:flex;flex-direction:column;align-items:center;background-size:contain;background-repeat:no-repeat;background-position:center}.anchor-info .avatar[data-v-3de419b3]{flex:0 0 auto;background-size:cover;background-position:center;background-repeat:no-repeat;border-radius:50%;background-color:#bfbfbf;cursor:pointer}.anchor-info .nickname-box[data-v-3de419b3]{box-sizing:border-box;flex:0 0 20px;padding:0 16px;width:100%}.anchor-info .nickname-box .nickname[data-v-3de419b3]{overflow:hidden;margin:0;width:100%;text-overflow:ellipsis;font-size:16px;line-height:20px;word-break:keep-all;white-space:nowrap;text-align:center}.anchor-info .focus-button-box[data-v-3de419b3]{flex:0 0 auto}.anchor-info .focus-button-box .text-button[data-v-3de419b3]{display:flex;justify-content:center;align-items:center;height:32px;width:72px;color:white;font-size:14px;text-align:center;border-radius:4px;font-weight:normal;background-color:#fb7299;cursor:pointer}.anchor-info .focus-button-box .text-button.focused[data-v-3de419b3]{background-color:#ffaac1;cursor:not-allowed}.anchor-info .focus-button-box .image-button[data-v-3de419b3]{display:block}

.ancher-carousel[data-v-3cbe2236]{display:flex;align-items:center}.ancher-carousel .arrow-box[data-v-3cbe2236]{flex:0 0 auto;cursor:pointer}.ancher-carousel .arrow-box.is-transparent[data-v-3cbe2236]{opacity:0;pointer-events:none}.ancher-carousel .arrow-box img[data-v-3cbe2236]{display:block}.ancher-carousel .ancher-list[data-v-3cbe2236]{position:relative;flex:1 1 auto;overflow:hidden}.ancher-carousel .ancher-list .ancher-goup[data-v-3cbe2236]{position:absolute;display:flex;flex-direction:column;justify-content:center;align-items:center;width:100%;transform:translateY(-100%)}.ancher-carousel .ancher-list .ancher-goup.next-in[data-v-3cbe2236],.ancher-carousel .ancher-list .ancher-goup.prev-in[data-v-3cbe2236]{transition:transform 0.3s ease}.ancher-carousel .ancher-list .ancher-goup.activated[data-v-3cbe2236]{z-index:2;transform:translateX(0)}.ancher-carousel .ancher-list .ancher-goup.activated.next-in[data-v-3cbe2236]{transform:translateX(-100%)}.ancher-carousel .ancher-list .ancher-goup.activated.prev-in[data-v-3cbe2236]{transform:translateX(100%)}.ancher-carousel .ancher-list .ancher-goup.prev[data-v-3cbe2236]{z-index:1;transform:translateX(-100%)}.ancher-carousel .ancher-list .ancher-goup.prev.prev-in[data-v-3cbe2236]{transform:translateX(0)}.ancher-carousel .ancher-list .ancher-goup.next[data-v-3cbe2236]{z-index:3;transform:translateX(100%)}.ancher-carousel .ancher-list .ancher-goup.next.next-in[data-v-3cbe2236]{transform:translateX(0)}.ancher-carousel .ancher-list .row[data-v-3cbe2236]{display:flex;justify-content:center}


.agile-toast-wrap[data-v-699129e9] {
  position: fixed;
  left: 0;
  top: 0;
  display: block;
  padding: 0 20px;
  height: 36px;
  line-height: 36px;
  text-align: left;
  white-space: nowrap;
  font-size: 16px;
  letter-spacing: 0;
  font-weight: normal;
  color: #fff;
  background: #32cd32;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.15);
  box-sizing: border-box;
  transition: all 0.35s;
  z-index: 2001;
}
.agile-toast-wrap.center[data-v-699129e9] {
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.agile-toast-wrap.center.show[data-v-699129e9] {
  -webkit-animation: toast-center-appear-data-v-699129e9 0.35s ease-in-out 1 both;
          animation: toast-center-appear-data-v-699129e9 0.35s ease-in-out 1 both;
}
.agile-toast-wrap.center.hidden[data-v-699129e9] {
  -webkit-animation: toast-center-disappear-data-v-699129e9 0.35s ease-in-out 1 both;
          animation: toast-center-disappear-data-v-699129e9 0.35s ease-in-out 1 both;
}
.agile-toast-wrap.show[data-v-699129e9] {
  -webkit-animation: toast-appear-data-v-699129e9 0.35s ease-in-out 1 both;
          animation: toast-appear-data-v-699129e9 0.35s ease-in-out 1 both;
}
.agile-toast-wrap.hidden[data-v-699129e9] {
  -webkit-animation: toast-disappear-data-v-699129e9 0.35s ease-in-out 1 both;
          animation: toast-disappear-data-v-699129e9 0.35s ease-in-out 1 both;
}
.agile-toast-wrap.error[data-v-699129e9] {
  background-color: #e36857;
}
.agile-toast-wrap.warning[data-v-699129e9] {
  background-color: #ff8c00;
}
@-webkit-keyframes toast-appear-data-v-699129e9 {
from {
    opacity: 0;
    transform: translate3d(0, 50%, 0);
}
}
@keyframes toast-appear-data-v-699129e9 {
from {
    opacity: 0;
    transform: translate3d(0, 50%, 0);
}
}
@-webkit-keyframes toast-disappear-data-v-699129e9 {
to {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
}
}
@keyframes toast-disappear-data-v-699129e9 {
to {
    opacity: 0;
    transform: translate3d(0, -50%, 0);
}
}
@-webkit-keyframes toast-center-appear-data-v-699129e9 {
from {
    opacity: 0;
    transform: translate3d(-50%, 50%, 0);
}
}
@keyframes toast-center-appear-data-v-699129e9 {
from {
    opacity: 0;
    transform: translate3d(-50%, 50%, 0);
}
}
@-webkit-keyframes toast-center-disappear-data-v-699129e9 {
to {
    opacity: 0;
    transform: translate3d(-50%, -70%, 0);
}
}
@keyframes toast-center-disappear-data-v-699129e9 {
to {
    opacity: 0;
    transform: translate3d(-50%, -70%, 0);
}
}

.anchor-info .card-box[data-v-c07256be]{display:flex;flex-direction:column;align-items:center;background-size:contain;background-repeat:no-repeat;background-position:center}.anchor-info .avatar[data-v-c07256be]{flex:0 0 auto;background-size:cover;background-position:center;background-repeat:no-repeat;border-radius:50%;background-color:#bfbfbf;cursor:pointer}.anchor-info .nickname-box[data-v-c07256be]{box-sizing:border-box;flex:0 0 20px;padding:0 16px;width:100%}.anchor-info .nickname-box .nickname[data-v-c07256be]{overflow:hidden;margin:0;width:100%;text-overflow:ellipsis;font-size:16px;line-height:20px;word-break:keep-all;white-space:nowrap;text-align:center}.anchor-info .focus-button-box[data-v-c07256be]{flex:0 0 auto}.anchor-info .focus-button-box .text-button[data-v-c07256be]{display:flex;justify-content:center;align-items:center;height:32px;width:72px;color:white;font-size:14px;text-align:center;border-radius:4px;font-weight:normal;background-color:#fb7299;cursor:pointer}.anchor-info .focus-button-box .text-button.focused[data-v-c07256be]{background-color:#ffaac1;cursor:not-allowed}.anchor-info .focus-button-box .image-button[data-v-c07256be]{display:block}

.ancher-carousel[data-v-669efa5a]{display:flex;align-items:center}.ancher-carousel .arrow-box[data-v-669efa5a]{flex:0 0 auto;cursor:pointer}.ancher-carousel .arrow-box.is-transparent[data-v-669efa5a]{opacity:0;pointer-events:none}.ancher-carousel .arrow-box img[data-v-669efa5a]{display:block}.ancher-carousel .ancher-list[data-v-669efa5a]{position:relative;flex:1 1 auto;overflow:hidden}.ancher-carousel .ancher-list .ancher-goup[data-v-669efa5a]{position:absolute;display:flex;flex-direction:column;justify-content:center;align-items:center;width:100%;transform:translateY(-100%)}.ancher-carousel .ancher-list .ancher-goup.next-in[data-v-669efa5a],.ancher-carousel .ancher-list .ancher-goup.prev-in[data-v-669efa5a]{transition:transform 0.3s ease}.ancher-carousel .ancher-list .ancher-goup.activated[data-v-669efa5a]{z-index:2;transform:translateX(0)}.ancher-carousel .ancher-list .ancher-goup.activated.next-in[data-v-669efa5a]{transform:translateX(-100%)}.ancher-carousel .ancher-list .ancher-goup.activated.prev-in[data-v-669efa5a]{transform:translateX(100%)}.ancher-carousel .ancher-list .ancher-goup.prev[data-v-669efa5a]{z-index:1;transform:translateX(-100%)}.ancher-carousel .ancher-list .ancher-goup.prev.prev-in[data-v-669efa5a]{transform:translateX(0)}.ancher-carousel .ancher-list .ancher-goup.next[data-v-669efa5a]{z-index:3;transform:translateX(100%)}.ancher-carousel .ancher-list .ancher-goup.next.next-in[data-v-669efa5a]{transform:translateX(0)}.ancher-carousel .ancher-list .row[data-v-669efa5a]{display:flex;justify-content:center}


