.content-dynamic[data-v-2964abc9]{width:100%}.content-dynamic .not-login[data-v-2964abc9]{text-align:center;color:#4ba8ff;cursor:pointer;margin-top:20px;margin-bottom:20px}.content-dynamic iframe[data-v-2964abc9]{display:block;margin:0 auto}

